/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
	margin: 0;
	padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
	font: 12px/1.5 "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", Helvetica, Arial, sans-serif;;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

address, cite, dfn, em, var {
	font-style: normal;
} /* 将斜体扶正 */
code, kbd, pre, samp {
	font-family: courier new, courier, monospace;
} /* 统一等宽字体 */
small {
	font-size: 12px;
} /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol {
	list-style: none;
}

/** 重置文本格式元素 **/
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	height: 100%;
}

@font-face {
	font-family: 'iconfont';
    src:url('iconfont.eot'); /* IE9*/
    src:url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.body {
	height: 100vh;
	text-align: center;
	font-size: 0;
}

.body:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.box {
	vertical-align: middle;
	display: inline-block;
	max-width: 100%;
	font-size: 1rem;
}

.icon {
	font-size: 6rem;
}

h2 {
	margin-bottom: 20px;
	font-size: 1.8rem;
}
